@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 1vh;
    background: none;
}
::-webkit-scrollbar-track {
    background: transparent;
}
:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border: 1vh solid #e6e6e6;
    border-radius: 1vh;
}